@use "../abstract/functions" as func;
@use "../abstract/mixin";

.company{
    padding: 8rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
    color: func.theme-colors("dark");

    @include mixin.responsive(xs){
        flex-direction: column;
        padding: 2rem 0;
    }

    &-details{
        padding-left: 18rem;
        //padding-top: 10rem;
        //padding-bottom: 10rem;
        
        @include mixin.responsive(xs){
            padding:2rem 3rem;
        }


        &-title{
            font-size: 2rem;
            line-height: 1.3;
            padding: 2rem 0;

            h1{
                margin: 0;
                @include mixin.responsive(xs){
                    margin: 0;
                }
            }
        }

        &-content{
            p{
                // font-size: 1rem;
                padding: 1rem 0;
            }
        }

    }

    button{
        margin-top: 1rem;
    }

    &-img{
        width: 53rem;
        height: 40rem;
        padding-left: 2rem;

        
        @include mixin.responsive(xs){
            width: 40rem;
            height: 30rem;
            padding: 0;
        }
        
    }


}